<div>
  <h1>Photo #<%= @the_photo.id %> details</h1>

  <div>
    <a href="/photos">Go back</a>
    <a href="/delete_photo/<%= @the_photo.id %>">Delete photo</a>
  </div>

  <dl>
    <dt>Caption</dt>
    <dd><%= @the_photo.caption %></dd>

    <dt>Comments count</dt>
    <dd><%= @the_photo.comments_count %></dd>

    <dt>Likes count</dt>
    <dd><%= @the_photo.likes_count %></dd>

    <dt>Owner</dt>
    <dd><%= User.find(@the_photo.owner_id).username rescue "Unknown" %></dd>

    <dt>Image</dt>
    <dd>
      <% if @the_photo.image.present? %>
        <img src="<%= @the_photo.image %>" alt="Photo" width="300">
      <% else %>
        No image available
      <% end %>
    </dd>

    <dt>Created at</dt>
    <dd><%= time_ago_in_words(@the_photo.created_at) %> ago</dd>

    <dt>Updated at</dt>
    <dd><%= time_ago_in_words(@the_photo.updated_at) %> ago</dd>
  </dl>
</div>
